{% extends 'layout.html' %}

{% block body %}
   <h1>About Us</h1>
   <p>This project was our first time using Singular Value Decomposition (SVD). I have since learned that SVD is recommended for dense matrices. Our implementation of SVD was used on a sparse matrix. If I had time to revisit this project, I would adjust this accordingly. Nonetheless, this project aims to show some of the techniques available in Python through some of its scientific libraries (namely pandas, scikitlearn, and scipy).</p>
{% endblock %}